h1{
     text-align: center;
     text-decoration: underline;
}

h2 { 
     padding-left: 80px;
     text-decoration: underline;
}   

p {
     color : orange;
     text-align: center;
     text-decoration: underline;
     text-transform: uppercase;
     letter-spacing: 10px;
     font-style: italic;
     font-weight: bold;
     line-height: 1.4em;
     font-family: "serif";
     font-size: 1.2em;
     text-transform: capitalize;
     color: #5aa;
     background-color: rgba (45,0,11,0,5); 
     
}

body {
     background-image: url('pexels-simon-berger-9885377.jpg');
     height: 200px;
}
